body {
    font-family: 'Open Sans', sans-serif;
}
.timeline::before {
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width: 4px;
    height: 100%;
    background: #D1D5DB;
}
.timeline-item {
    position: relative;
    width: calc(50% - 2rem);
    padding: 1rem;
}
.timeline-item::after {
    content: '';
    position: absolute;
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
}
.left-item::after {
    left: 100%;
    border-width: 8px 16px 8px 0;
    border-color: transparent #FFFFFF transparent transparent;
}
.right-item::after {
    right: 100%;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #FFFFFF;
}
.timeline-circle {
    position: absolute;
    top: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 4px solid #2563EB;
}
.left-item .timeline-circle {
    left: calc(100% + 8px);
}
.right-item .timeline-circle {
    right: calc(100% + 8px);
}
